# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- SECURITY: NEVER UPLOAD THIS ---
.env

# --- IDEs ---
.vscode/
.idea/

# --- Data Layer (Medallion Architecture) ---
# Ignoramos tudo nas camadas iniciais (muito volume)
data/bronze/*
data/silver/*

# Camada Gold: Ignoramos tudo, EXCETO o necessário para o App
data/gold/*
!data/gold/final_sla_report.parquet
!data/gold/report_sla_analista.csv
!data/gold/report_sla_tipo_chamado.csv

# Outros metadados necessários
!data/data_dictionary.json
!data/**/.gitkeep

# --- Logs and System Reports ---
*.log
.DS_Store
Thumbs.db

# --- General Ignore for Binary/Data Files ---
*.csv
*.parquet